<div class='animated fadeIn'>
  <div class='row'>
    <div class='col-sm-6 col-md-8'>
      <div class='card'>
        <div class='card-header'>
          <strong>{{ title }}</strong>
        </div>
        <div class='card-body'>
          <img src='assets/img/About.jpg' class='col-sm-12 col-md-12' alt='sap' />
          <br><br>
          <span id='info'>
            SAP Company Information
            SAP is the market leader in enterprise application software, helping companies of all sizes and in all
            industries run at their best: 77% of the world’s transaction
            revenue touches an SAP system. Our machine learning, Internet of Things (IoT), and advanced analytics
            technologies help turn customers’ businesses into intelligent
            enterprises. Our end-to-end suite of applications and services enables our customers to operate profitably,
            adapt continuously, and make a difference.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>